<div class="pt4em"></div>

<main>

  <nav id="music-categories">

    <ul>

      <li><span id="trending-link">Trending</span></li>

      <li><span id="most-viewed-link" >Most Viewed</span></li>

      <li><span id="fresh-link">Fresh</span></li>

    </ul>

  </nav>

  <div class="songs-container" id="trending">

    <% @trending.each do |result| %>

        <% path = "http://localhost:3000/" + result[:path] %>

            <div class="song">

              <img src="http://localhost:3000/music-icon-purple.png" alt="Music icon">

              <div>

                <p><%= result[:artist] %> - <%= result[:title] %></p>
                <p><%= result[:album] %></p>

              </div>

            </div>

    <% end %>

  </div>

  <div class="songs-container" id="most-viewed">

    <% @most_viewed.each do |result| %>

        <% path = "http://localhost:3000/" + result[:path] %>

        <div class="song">

          <img src="http://localhost:3000/music-icon-purple.png" alt="Music icon">

          <div>

            <p><%= result[:artist] %> - <%= result[:title] %></p>
            <p><%= result[:album] %></p>

          </div>

        </div>

    <% end %>

  </div>

  <div class="songs-container" id="fresh">

    <% @fresh.each do |result| %>

        <% path = "http://localhost:3000/" + result[:path] %>

        <div class="song">

          <img src="http://localhost:3000/music-icon-purple.png" alt="Music icon">

          <div>

            <p><%= result[:artist] %> - <%= result[:title] %></p>
            <p><%= result[:album] %></p>

          </div>

        </div>

    <% end %>

  </div>

</main>

<div class="pt4em"></div>