<section class='white-section'>
    <nav id="music-categories">
        <ul>
            <li><span id="trending-link">Trending</span></li>

            <li><span id="most-viewed-link">Most Viewed</span></li>

            <li><span id="fresh-link">Fresh</span></li>
        </ul>
    </nav>

    <div class="songs-container" id="trending">
        <% @trending.each do |result| %>
            <% path = "http://localhost:3000/" + result[:path] %>
            <div class="song">
                <img src="http://localhost:3000/mp3.png" alt="Music icon">

                <div class="song-details">
                    <p class="song-title">
                        <%= link_to result[:title], :controller => 'songs', :action => 'show', :id => result.id %>
                    </p>

                    <p class="song-artist">
                        by <%= result[:album] %>
                    </p>

                    <p class="song-album">
                        Album: <%= result[:album] %>
                    </p>
                </div>
            </div>
        <% end %>
    </div>

    <div class="songs-container" id="most-viewed">
        <% @most_viewed.each do |result| %>
            <% path = "http://localhost:3000/" + result[:path] %>
            <div class="song">
                <img src="http://localhost:3000/mp3.png" alt="Music icon">

                <div class="song-details">
                    <p class="song-title">
                        <%= link_to result[:title], :controller => 'songs', :action => 'show', :id => result.id %>
                    </p>

                    <p class="song-artist">
                        by <%= result[:album] %>
                    </p>
                    
                    <p class="song-album">
                        Album: <%= result[:album] %>
                    </p>
                </div>
            </div>
        <% end %>
    </div>

    <div class="songs-container" id="fresh">
        <% @fresh.each do |result| %>
            <% path = "http://localhost:3000/" + result[:path] %>
            <div class="song">
                <img src="http://localhost:3000/mp3.png" alt="Music icon">

                <div class="song-details">
                    <p class="song-title">
                        <%= link_to result[:title], :controller => 'songs', :action => 'show', :id => result.id %>
                    </p>

                    <p class="song-artist">
                        by <%= result[:album] %>
                    </p>
                    
                    <p class="song-album">
                        Album: <%= result[:album] %>
                    </p>
                </div>
            </div>
        <% end %>
    </div>
</section>