<%= javascript_tag do %>
    window.songId = '<%= j @song[:id].to_s %>';
<% end %>

<link href='/player.css' rel='stylesheet' type='text/css'>

<section id='player-container'>
    <% path = "http://localhost:3000/" + @song[:path] %>

    <div id="song">
        <img src="/dj-icon.png" alt="Dj icon" id='song-icon'>

        <div id='song-details'>
            <p id="song-title"> 
                <%= @song[:title] %> 
            </p>

            <p id="song-artist"> 
                by <%= j @song[:artist] %> 
            </p>

            <p id="song-album">
                Album: <%= j @song[:album] %>
            </p>
        </div>
    </div>

    <button id="add-to-playlist-button">
        Add to playlist
    </button>

    <audio controls>
        <source src = "<%= path %>" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</section>

<div id="button-bar">
  <button id="like-button"><% if @liked %>Dislike<% else %>Like<% end %></button>
    
    <div>
        <img src="/like-icon.png" alt="likes">
        <%=@song[:like_count] %><span id="views-number"></span>
    </div>
    
    <div>
        <img src="/eye-icon.png" alt="views">
        <%= @song[:view_count] %><span id="likes-number"></span>
    </div>
</div>

<section id="comments-area">
    <div id="message">
        <textarea name="message" placeholder="Start talking"></textarea>
        <input id="submit-button" type="submit" value="Post Message" />
    </div>

    <% @song.comments.order(created_at: :desc).each do |result| %>
        <% username = User.find(result.user_id)[:username] %>
        <div class="comment">
            <span class="title"><%= username %></span>
            <span class="date"><%= result[:created_at].strftime("on %d/%m/%Y, %H:%M") %></span>

            <p><%= result[:text] %></p>
        </div>
    <% end %>
</section>

<div id = "pop-up">
    <h1>Choose Playlist:</h1>

    <div id = "results">
    </div>
</div>

<div id="previous-song-wrapper">
  <a href="http://google.ro/">
    <img src="/previous-icon.png">
  </a>
</div>

<div id="next-song-wrapper">
  <a href="http://google.ro/">
    <img src="/next-icon.png">
  </a>
</div>

<script src="/song_in_a_playlist.js"></script>
