<section class='white-section'>
    <h1>My Songs</h1>

    <div class="songs-container" id="trending">
        <% @my_music.each do |result| %>
            <% path = "http://localhost:3000/" + result[:path] %>
            <div class="song">
                <img src="http://localhost:3000/mp3.png" alt="Music icon" class="file-icon">

                <div class="song-details">
                    <p class="song-title">
                        <%= link_to result[:title], :controller => 'songs', :action => 'show', :id => result.id %>
                    </p>

                    <p class="song-artist">
                        by <%= result[:artist] %>
                    </p>

                    <p class="song-album">
                        Album: <%= result[:album] %>
                    </p>
                </div>

                <%= link_to raw('<img src="/delete.ico" alt="del" class="delete-icon">'), :controller => 'songs', :action => 'delete', :id => result.id %>
            </div>
        <% end %>
    </div>

    <%= button_to 'Upload new song', {:controller => 'songs', :action => 'new'}, :id => "upload-button"%>
</section>
