<%= javascript_tag do %>
    window.playlistId = '<%= j @playlist[:id].to_s %>';
<% end %>

<section class='white-section'>
    <h1><%= j @playlist[:title].to_s %></h1>

    <div class="songs-container" id="trending">
        <% @playlist.songs.each do |result| %>
            <% path = "http://localhost:3000/" + result[:path] %>
            <div class="song">
                <img src="http://localhost:3000/mp3.png" alt="Music icon" class='file-icon'>

                <div class="song-details">
                    <p class="song-title">
                        <%= link_to result[:title], :controller => 'songs', :action => 'show', :id => result.id %>
                    </p>

                    <p class="song-artist">
                        by <%= result[:album] %>
                    </p>
                    
                    <p class="song-album">
                        Album: <%= result[:album] %>
                    </p>
                </div>

                <%= link_to raw('<img src="/delete.ico" alt="remove" class="delete-icon">'), :action => 'remove_song', :id => result.id, :playlist_id => @playlist[:id] %>
            </div>
            
        <% end %>
    </div>

    <button id="add-song-button">Add song</button>
</section>

<div id = "pop-up">
  <div class = "search-bar">
    <button type="submit" id='search-bar-button'>
      <img src = 'http://localhost:3000/search_icon.png'  alt="Search">
    </button>
        <input type="search" name="query" id='search-bar-input' placeholder="Search for a song" required="required">
    </div>

    <div id = "results">

    </div>
</div>