<!DOCTYPE html>
<html>
<head>
  <title>MDSProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <style>
      .menu a {
          float: right;
          padding-left: 5px;
      }
      .menu section {
          float: right;
          padding-left: 5px;
      }
      form {
          display: inline;
      }

    </style>

  <div class = "menu" style = "width: 100%; border: 1px dashed black;">

    <%= form_tag(:controller => 'home', :action => 'search_results') do %>
        <%= text_field_tag(:query, @par ? @par : "Search...") %>
        <%= submit_tag("Search") %>
    <% end %>

    <%= link_to "Home", :controller => 'home', :action => 'index', :class => "menu-item" %>

    <% current_user = session[:username] %>

    <% if current_user %>

        <%= link_to "Music", :controller => 'music', :action => 'my_music', :class => "menu-item" %>
        <%= link_to "Logout", :controller => 'access', :action => 'logout', :class => "menu-item" %>
        <section style="display: inline">(Logged in as <%= current_user %>)</section>
    <% else %>
        <%= link_to "Login", :controller => 'access', :action => 'login', :class => "menu-item" %>
    <% end %>

  </div>


    <div style = "background-color: aqua; color: black;">
      <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
    </div>

    <div class = "container">
      <%= yield %>
    </div>

</body>
</html>
